<a href="{% url 'post-detail' topic_id=post.topic.id pk=post.id %}" class="rounded-md shadow-md shadow-stealth-400/40 cursor-pointer group">
    <img src="{% if post.hero_image %}{{ post.hero_image.url }}{% elif post.hero_image_url %}{{ post.hero_image_url }}{% endif %}" alt="{{ post.image_alt }}" class="w-full object-cover h-48 sm:h-56 md:h-60 lg:h-68" />
    <div class="px-4 py-8 bg-stealth-800">
        <p class="text-lg font-semibold">{{ post.title }}</p>
    </div>
    <div class="flex items-center px-4 py-4 sm:py-6 space-x-4 sm:space-x-6 md:space-x-6 text-sm group-hover:text-stealth-100">
        <div class="flex flex-nowrap items-center space-x-2">
            <span class="bg-primary rounded-full p-1 w-7 h-7 flex items-center justify-center">
                <i class="fa-solid fa-eye"></i>
            </span>
            <span>{{ post.unique_page_views }}</span>
        </div>
        <div class="flex flex-nowrap items-center space-x-2">
            <span class="bg-primary rounded-full p-1 w-7 h-7 flex items-center justify-center">
                <i class="fa-solid fa-thumbs-up"></i>
            </span>
            <span>{{ post.likes }}</span>
        </div>
        <span>{{ post.created_at|date:"F j, Y" }}</span>
    </div>
</a>