{% extends 'base.html' %}
{% load json_helper %}

{% block title %} | {{ title }}{% endblock %}

{% block page %}
<h2>{{ title }}</h2>
<div 
    x-data="{
        sort: 'default',
        tech_stack: [],
        team: [],
        scope: [],
        starter_code: [],
        projects: JSON.parse({{ projects|json_helper:'dumps' }})
    }"
    @tech_stack-clear.window="tech_stack = []"
    @team-clear.window="team = []"
    @scope-clear.window="scope = []"
    @starter_code-clear.window="starter_code = []"
>
    <div
        class="bg-stealth-800 mb-3 flex flex-wrap sm:flex-nowrap w-full justify-around items-center gap-x-3 gap-y-2 md:gap-x-4 lg:gap-x-6 py-2 md:py-4"
        x-data="{
            sortProjects: (sortBy) => {
                if (sortBy === 'A-Z') {
                    projects.sort((a, b) => a.name.localeCompare(b.name));
                } else if (sortBy === 'Z-A') {
                    projects.sort((a, b) => b.name.localeCompare(a.name));
                } else if (sortBy === 'Newest') {
                    projects.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));
                } else {
                    JSON.parse({{ projects|json_helper:'dumps' }})
                }
            }
        }"
        x-init="$watch('sort', value => sortProjects(value))"
    >
        {% include 'partials/menu.html' with name='Sort' details=sort_details %}
        {% for fltr, details in filters.items %}
            {% include 'partials/menu.html' with name=fltr details=details %}
        {% endfor %}
    </div>
    <section class="mx-auto grid grid-cols-1 md:grid-cols-2 justify-center gap-x-12 gap-y-6 mb-4 md:mb-8">
        {% for project in projects|json_helper %}
            {% include 'partials/project.html' with project=project order=forloop.counter %}
        {% endfor %}
    </section>
</div>
{% endblock %}