<div x-data="{ inView{{ experience.id }}: false }" x-intersect.once:enter="inView{{ experience.id }} = true" class="flex-1 items-stretch">
    <div :class="inView{{ experience.id }} ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-8'" class="min-h-min bg-stealth-800 rounded-md p-5 items-stretch space-y-1 transition-natural">
        <p class="py-0">
            <span class="text-primary font-semibold">{{ experience.employer }} </span>
            {{ experience.city }}, {{ experience.state_province }}{% if experience.remote %} (Remote){% endif %}
        </p>
        {% for role in experience.roles.all %}
            <p class="italic py-0">{{ role.title }}{% if role.contract %} (Contract){% endif %}, {{ role.start_date|date:"m/Y" }} - {% if role.end_date %}{{ role.end_date|date:"m/Y" }}{% else %}Present{% endif %}</p>
        {% endfor %}
        {% if experience.accomplishments and experience.accomplishments.all|length > 0 %}
            <ul class="list-disc p-3 ml-4 md:ml-6 lg:ml-8">
                {% for accomplishment in experience.accomplishments.all %}
                    <li>{{ accomplishment.description }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>