<div x-data="{ inView{{ skill_category.id }}: false }" x-intersect.once:enter="inView{{ skill_category.id }} = true" class="flex-1 items-stretch">
    <div :class="inView{{ skill_category.id }} ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-8'" class="min-h-min bg-stealth-800 rounded-md p-5 items-stretch transition-natural">
        <p class="text-primary font-semibold text-xl">{{ skill_category.name }}</p>
        <p>{% for skill in skill_category.skills.all %}{% if forloop.first %}{{ skill }}{% else %} | {{ skill }}{% endif %}{% endfor %}</p>
    </div>
</div>