<div x-data="{ inView: false }" x-intersect:enter="inView = true" x-intersect:leave="inView = false" class="flex-1 items-stretch">
    <div x-show="inView" x-transition.enter="transition-natural-entry" x-transition.enter-start="opacity-0, translate-y-8" x-transition.enter-end="opacity-100, translate-y-0" x-transition.leave="transition-natural-exit" x-transition.leave-start="opacity-100, translate-y-0" x-transition.leave-end="opacity-0, translate-y-8" class="min-h-min bg-stealth-800 rounded-md p-5 items-stretch">
        <p class="text-primary font-semibold">{{ skill_category.name }}</p>
        <p>{% for skill in skill_category.skills %}{% if forloop.first %}{{ skill }}{% else %} | {{ skill }}{% endif %}{% endfor %}</p>
    </div>
</div>