<section 
    class="p-[5vw] bg-stealth-800 rounded-sm shadow-md md:shadow-lg shadow-primary/50 flex md:block justify-center"
    x-data="{
        project: {{ project|safe }},
        order: {{ order }},
        inView: false
    }"
    x-intersect.once:enter="inView = true"
    x-intersect.once:leave="inView = false"
    x-transition:enter="transition-natural-entry"
    x-transition:enter-start="opacity-0, translate-y-6"
    x-transition:enter-end="opacity-100, translate-y-0"
    x-transition:leave="transition-natural-exit"
    x-transition:leave-start="opacity-100, translate-y-0"
    x-transition:leave-end="opacity-0, translate-y-6"
    x-show="((tech_stack.length === 0 || project.tech_stack.some(tech => tech_stack.includes(tech.name))) && (team.length === 0 || team.includes(project.team)) && inView"
    :class="sort === 'Default' ? 'order-{{ order }} : `order-${order}`"
    x-init="$watch('classroom_projects', value => { let ord = 1; for (proj of classroom_projects) { if (proj.id === project.id) { order = ord; break;} else { ord += 1; }}})"
>
    <h3 class="text-center md:text-left">{{ project.name }}</h3>
    <div class="flex flex-nowrap space-y-3 md:space-y-4 justify-center">
        <div class="hidden md:block">
            <p class="text-sm text-stealth-100 text-center">{{ project.description }}</p>
        </div>
        <ul class="list-none flex flex-wrap justify-center md:justify-start gap-4">
            {% for skill in project.tech_stack %}
                {% include './tech.html' with skill=skill %}
            {% endfor %}
        </ul>
        <div class="grid grid-cols-1 gap-y-2 md:gap-x-2" :class="project.course_materials.length % 3 === 0 ? 'md:grid-cols-3' : 'md:grid-cols-2'">
            {% for material in project.course_materials %}
                {% include './material.html' with material=material %}
            {% endfor %}
        </div>
    </div>
</section>