{% load json_helper %}

<section 
    class="p-6 flex justify-center"
    x-data="{
        project: {{ project|json_helper:'dumps' }},
        order: {{ order }},
        inView: false,
        show: false
    }"
    x-show="show"
    x-intersect.once:enter="inView = true"
    :class="sort === 'Default' ? 'order-{{ order }}' : `order-${order}`"
    x-init="
        $watch('classroom_projects', value => {
            let ord = 1;
            for (let proj of classroom_projects) {
                if (proj.id === project.id) {
                    order = ord;
                    break;
                } else {
                    ord += 1;
                }
            }
        });
        let shouldBeShown = true;
        if (typeof tech_stack !== 'undefined' && tech_stack.length > 0 && !project.tech_stack.some(tech => tech_stack.includes(tech.name))) {
            shouldBeShown = false;
        }
        if (typeof team !== 'undefined' && team.length > 0 && !team.includes(project.team)) {
            shouldBeShown = false;
        }
        if (typeof type !== 'undefined' && type.length > 0 && !type.includes('classroom')) {
            shouldBeShown = false;
        }
        show = shouldBeShown;
        "
    @filter-change.window="
        let shouldBeShown = true;
        if (typeof tech_stack !== 'undefined' && tech_stack.length > 0 && !project.tech_stack.some(tech => tech_stack.includes(tech.name))) {
            shouldBeShown = false;
        }
        if (typeof team !== 'undefined' && team.length > 0 && !team.includes(project.team)) {
            shouldBeShown = false;
        }
        show = shouldBeShown;
    "
>
    <div
        :class="(inView && show) ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-8'"
        class="transition-natural bg-stealth-800 rounded-sm shadow-md md:shadow-lg shadow-stealth-400/30 flex flex-wrap md:block justify-center p-2 group"
    >
        <h3 class="text-center md:text-left">{{ project.name }}</h3>
        <div class="space-y-3">
            <div class="hidden md:block">
                <p class="text-sm text-stealth-100">{{ project.description }}</p>
            </div>
            <ul class="list-none flex flex-wrap justify-center gap-4">
                {% for skill in project.tech_stack %}
                    {% include './tech.html' with skill=skill %}
                {% endfor %}
            </ul>
            <div class="grid grid-cols-1 gap-y-4 md:gap-x-2" :class="project.sorted_course_materials.length % 3 === 0 ? 'md:grid-cols-3' : 'md:grid-cols-2'">
                {% for material in project.sorted_course_materials %}
                    {% include './material.html' with material=material %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>