<section 
    class="p-[5vw] group"
    x-data="{
        project: {{ project|safe }},
        order: {{ order }},
        inView: false
    }"
    x-intersect.once:enter="inView = true"
    x-intersect.once:leave="inView = false"
    x-transition:enter="transition-natural-entry"
    x-transition:enter-start="opacity-0, translate-y-6"
    x-transition:enter-end="opacity-100, translate-y-0"
    x-transition:leave="transition-natural-exit"
    x-transition:leave-start="opacity-100, translate-y-0"
    x-transition:leave-end="opacity-0, translate-y-6"
    x-show="((tech_stack.length === 0 || project.tech_stack.some(tech => tech_stack.includes(tech.name))) && (team.length === 0 || team.includes(project.team)) && (scope.length === 0 || scope.includes(project.scope)) && (starter_code.length === 0 || starter_code.includes(project.starter_code))) && inView"
    :class="sort === 'Default' ? 'order-{{ order }} : `order-${order}`"
    x-init="$watch('projects', value => { let ord = 1; for (proj of projects) { if (proj.id === project.id) { order = ord; break;} else { ord += 1; }}})"
>
    <h3 class="hidden md:block">{{ project.name }}</h3>
    <div class="flex flex-nowrap relative md:static md:columns-2 md:gap-6">
        <div class="relative">
            <img src="{{ project.image }}" alt="{{ project.image_alt }}" />
            <div class="hidden md:block absolute inset-0 bg-primary/60 z-10 group-hover:bg-transparent"></div>
        </div>
        <div class="absolute md:relative inset-0 flex z-20 bg-transparent px-4 md:px-0 md:overflow-visible justify-center md:justify-end items-end md:items-start flex-wrap space-y-2 md:space-y-4">
            <h3 class="block text-center w-full md:hidden">{{ project.name }}</h3>
            <ul class="list-none flex justify-center md:justify-end space-x-2 flex-nowrap">
                {% if project.deployed_url %}
                    <li class="text-stealth-400 group-hover:text-stealth-100 hover:text-primary visited:text-accent">
                        <a href="{{ project.deployed_url }}" target="_blank" rel="noreferrer">
                            <i class="fa-solid fa-up-right-from-square text-[120%]"></i>
                        </a>
                    </li>
                {% endif %}
                {% if project.video_url %}
                    <li class="text-stealth-400 group-hover:text-stealth-100 hover:text-primary visited:text-accent">
                        <a href="{{ project.video_url }}" target="_blank" rel="noreferrer">
                            <i class="fa-solid fa-clapperboard text-[120%]"></i>
                        </a>
                    </li>
                {% endif %}
                {% if project.github_url %}
                    <li class="text-stealth-400 group-hover:text-stealth-100 hover:text-primary visited:text-accent">
                        <a href="{{ project.github_url }}" target="_blank" rel="noreferrer">
                            <i class="fa-brands fa-github text-[120%]"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
            <div class="hidden md:block rounded-md shadow-md bg-stealth-800 w-4/3 -translate-x-1/4 p-5 relative z-[25]">
                <p class="text-sm text-stealth-100 text-right">{{ project.description }}</p>
            </div>
            <ul class="list-none flex flex-wrap justify-center md:justify-start gap-3">
                {% for skill in project.tech_stack %}
                    {% include './tech.html' with skill=skill %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>