{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ryan Moscoe{% block title %}{% endblock %}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="keywords" content="LLM, generative AI, web developer, web development, software developer, software development, software engineer, software engineering, talent development, instructional design, elearning, Will Hunting Challenge, willhuntingchallenge, Python, SQL, JavaScript, React, django" />
        <meta name="description" content="professional portfolio showcasing software engineering, AI prompt engineering, and learning and development projects, as well as a blog showcasing my thought leadership" />
        {% tailwind_css %}
        <link rel="icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/logo192.png' %}" />
        <script src="https://kit.fontawesome.com/eb432245f2.js"></script>
        <script type="module" src="{% static 'js/base.js' %}"></script>
    </head>

    <body class="bg-stealth-900 font-shinobi m-0 antialiased leading-normal tracking-normal text-stealth-400 text-lg md:text-[1.7vw]/[5.6]">
        {% include 'partials/header.html' %}
        <main>
            <section class="relative flex justify-center my-3 md:static md:items-start md:mb-[2%] md:pt-15 md:mt-[2%] md:justify-normal">
                <div class="w-2/3 md:w-full md:flex">
                    <div class="relative grow shrink basis-auto md:w-[30%]">
                        <img class="text-[0px]/[0]" src="{% static 'images/Headshot_rectangular.jpg' %}" alt="professional headshot" />
                    </div>
                    <aside class="left-1/2 absolute top-1/2 -translate-1/2 z-20 self-center bg-transparent md:px-[7%] grow-2 shrink-2 basis-auto md:static">
                        <h1 class="text-[2.5rem] font-semibold font-stretch-expanded pb-[1%] text-stealth-100 bg-transparent text-shadow-md text-shadow-black md:text-450% md:bg-inherit md:text-shadow-none">Ryan Moscoe</h1>
                        <p class="bg-transparent text-shadow-md text-shadow-black pt-[1%] pb-[7%] text-[170%] md:border-b-4 md:border-b-primary md:text-[185%] md:bg-inherit md:text-shadow-none">Software Engineer | AI Prompt Engineer | Ninja</p>
                        <p class="hidden md:block pt-[7%]">If you are looking for a coding ninja, look no further. I code in HTML, CSS, JavaScript, Python, Java, SQL, and other languages. In my spare time, I practice--you guessed it--ninjutsu.</p>
                    </aside>
                </div>
            </section>
            {% block page %}{% endblock %}
        </main>
        <footer class="fixed bottom-0 bg-primary left-0 right-0 z-40">
            {% include 'partials/footer.html' %}
        </footer>
    </body>
</html>
