<ul class="flex flex-nowrap justify-evenly items-baseline list-none leading-[1.7]">
    <li class="text-center text-stealth-100 md:text-[1.4vw]">
        <a href="mailto:ryan@ryanmoscoe.com" class="footer-link">
            <i class="fa-solid fa-envelope"></i>
            <span class="hidden md:inline">ryan@ryanmoscoe.com</span>
        </a>
    </li>
    <li class="text-center text-stealth-100 md:text-[1.4vw]">
        <a href="https://www.linkedin.com/in/ryan-moscoe-8652973/" target="_blank" class="footer-link" rel="noreferrer">
            <i class="fa-brands fa-linkedin"></i>
            <span class="hidden md:inline">LinkedIn</span>
        </a>
    </li>
    <li class="text-center text-stealth-100 md:text-[1.4vw]">
        <a href="https://github.com/rmoscoe" target="_blank" class="footer-link" rel="noreferrer">
            <i class="fa-brands fa-github"></i>
            <span class="hidden md:inline">GitHub</span>
        </a>
    </li>
</ul>