{% load nav_class %}

<nav class="hidden md:flex justify-start h-full w-full leading-[3] items-center text-center text-stealth-100">
    <a href="{% url 'about' %}" class="font-accent text-xl grow-[.1] shrink basis-auto py-3 px-[1em]{% nav_class 'about' %} visited:no-underline">About Me</a>
    <a href="{% url 'software' %}" class="font-accent text-xl grow-[.1] shrink basis-auto py-3 px-[1em]{% nav_class 'software' %} visited:no-underline">Software Engineering</a>
    <a href="{% url 'ai' %}" class="font-accent text-xl grow-[.1] shrink basis-auto py-3 px-[1em]{% nav_class 'ai' %} visited:no-underline">AI Prompt Engineering</a>
    <a href="{% url 'instructional-design' %}" class="font-accent text-xl grow-[.1] shrink basis-auto py-3 px-[1em]{% nav_class 'instructional-design' %} visited:no-underline">Instructional Design</a>
    <a href="{% url 'resume' %}" class="font-accent text-xl grow-[.1] shrink basis-auto py-3 px-[1em]{% nav_class 'resume' %} visited:no-underline">Resume</a>
    <a href="{% url 'blog' %}" class="font-accent text-xl grow-[.1] shrink basis-auto py-3 px-[1em]{% nav_class 'blog' %} visited:no-underline">Blog</a>
    <a href="{% url 'contact' %}" class="font-accent text-xl grow-[.1] shrink basis-auto py-3 px-[1em]{% nav_class 'contact' %} visited:no-underline">Contact</a>
</nav>