{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ryan Moscoe{% block title %}{% endblock %}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="keywords" content="LLM, generative AI, web developer, web development, software developer, software development, software engineer, software engineering, talent development, instructional design, elearning, Will Hunting Challenge, willhuntingchallenge, Python, SQL, JavaScript, React, django" />
        <meta name="description" content="professional portfolio showcasing software engineering, AI prompt engineering, and learning and development projects, as well as a blog showcasing my thought leadership" />
        {% tailwind_css %}
        <link rel="icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="apple-touch-icon" href="{% static 'images/logo192.png' %}" />
        <script src="https://kit.fontawesome.com/eb432245f2.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.15.0/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.0/dist/cdn.min.js"></script>
    </head>

    <body class="bg-stealth-900 font-shinobi m-0 antialiased leading-normal tracking-normal text-stealth-400 text-lg md:text-[1.7vw]/[1.4]">
        {% include 'partials/header.html' %}
        <main>
            <section class="relative flex justify-center my-3 md:static md:items-start md:mb-[2%] md:pt-15 md:mt-[2%] md:justify-normal">
                <div class="relative w-2/3 md:w-full flex justify-center">
                    <h1 class="text-[2.85rem] md:text-[450%] text-center">Blog</h1>
                    <p class="bg-transparent text-shadow-md text-shadow-black pt-[1%] pb-[7%] text-[170%] md:border-b-4 md:border-b-primary md:text-[185%] md:bg-inherit md:text-shadow-none text-center">Ryan Moscoe</p>
                    <p class="bg-transparent text-shadow-md text-shadow-black pt-[1%] pb-[7%] text-[170%] md:border-b-4 md:border-b-primary md:text-[185%] md:bg-inherit md:text-shadow-none text-center md:text-justify">Software Engineer | AI Prompt Engineer | Ninja</p>
                </div>
            </section>
            <section class="px-6 py-[3%] space-y-12">
                <ul class="list-none overflow-hidden text-base">
                    {% include 'partials/breadcrumb.html' with ancestor={'url': url 'core_site:about', 'name': 'Home'} %}
                    {% block breadcrumb %}{% endblock %}
                </ul>
                {% block page %}{% endblock %}
            </section>
        </main>
        <footer class="fixed bottom-0 bg-primary left-0 right-0 z-40">
            {% include 'partials/footer.html' %}
        </footer>
    </body>
</html>