{% extends 'blog.html' %}

{% load markdownify %}

{% block title %} | Blog | {{ object.title }}{% endblock %}

{% block breadcrumb %}
    {% include 'partials/breadcrumb.html' with ancestor_name='Blog' ancestor_url=blog_url %}
    {% for ancestor in ancestors %}
        {% include 'partials/breadcrumb.html' with ancestor_name=ancestor.name ancestor_url=ancestor.url %}
    {% endfor %}
    {% include 'partials/terminal_breadcrumb.html' with text=object.title %}
{% endblock %}

{% block page %}
<section class="space-y-8" x-data="{ liked: {{ liked|yesno:'true,false,null' }}, setViewCookie: {% if set_view_cookie %}'{{ set_view_cookie }}'{% else %}false{% endif %}, setLikeCookie: {% if set_like_cookie %}'{{ set_like_cookie }}'{% else %}false{% endif %}, uniqueViews: {{ unique_page_views }}, likes: {{ likes }} }" x-init=" if (setViewCookie) { document.cookie = setViewCookie; } if (setLikeCookie) { document.cookie = setLikeCookie; }">
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    <h1>{{ object.title }}</h1>
    <div class="w-full md:w-3/4 xl:w-2/3 space-y-8 mx-auto">
        <div class="space-y-3" x-data="{ showError: false }">
            <p class="text-lg text-accent" :class="showError ? 'opacity-100' : 'opacity-0'">Oops! Something went wrong. Please try again later.</p>
            <div class="flex flex-wrap sm:flex-nowrap items-center justify-between text-lg md:text-xl">
                <span class="text-base md:text-lg">{{ object.created_at|date:'F j, Y' }}</span>
                <div class="relative" x-data="{ showShareOptions: false }">
                    <div class="flex justify-end items-center space-x-4 md:space-x-6">
                        <div class="flex flex-nowrap items-center space-x-2">
                            <span class="bg-primary rounded-full h-7 w-7 md:h-8 md:w-8 inline-flex justify-center items-center text-base md:text-lg">
                                <i class="fa-solid fa-eye"></i>
                            </span>
                            <span x-text="uniqueViews"></span>
                        </div>
                        <div class="flex flex-nowrap items-center space-x-2">
                            {% csrf_token %}
                            <template x-if="liked">
                                <button class="bg-primary rounded-full h-7 w-7 md:h-8 md:w-8 inline-flex justify-center items-center text-base md:text-lg cursor-pointer" @click="async () => {
                                    const cookieName = 'post_{{ object.id }}_liked';
                                    const cookie = `${cookieName}=; Path=/; Max-Age=0`;
                                    document.cookie = cookie;
                                    try {
                                        const csrfToken = getCookie('csrftoken');
                                        const config = {
                                            method: 'DELETE',
                                            headers: {
                                                'Content-Type': 'application/json',
                                                'X-CSRFToken': csrfToken,
                                            },
                                        };
                                        const response = await fetch(`{% url 'like' topic_id=post.topic.id post_id=post.id %}`, config);
                                        if (!response.ok) {
                                            throw new Error(`Response status: ${response.status}`);
                                        }
                                        const result = await response.text();
                                        likes = parseInt(result);
                                    } catch (error) {
                                        showError = true;
                                    }
                                    liked = false;
                                }">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </button>
                            </template>
                            <template x-if="!liked">
                                <button class="bg-stealth-400 text-stealth-800 rounded-full h-7 w-7 md:h-8 md:w-8 inline-flex justify-center items-center text-base md:text-lg cursor-pointer" @click="async () => {
                                    const cookieName = 'post_{{ object.id }}_liked';
                                    const cookie = `${cookieName}=true; Path=/; Max-Age=31536000`;
                                    document.cookie = cookie;
                                    try {
                                        const csrfToken = getCookie('csrftoken');
                                        const config = {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json',
                                                'X-CSRFToken': csrfToken,
                                            },
                                        };
                                        const response = await fetch(`{% url 'like' topic_id=post.topic.id post_id=post.id %}`, config);
                                        if (!response.ok) {
                                            throw new Error(`Response status: ${response.status}`);
                                        }
                                        const result = await response.text();
                                        likes = parseInt(result);
                                    } catch (error) {
                                        showError = true;
                                    }
                                    liked = true;
                                }">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </button>
                            </template>
                            <span x-text="likes"></span>
                        </div>
                        <button class="inline-flex justify-center items-center text-2xl md:text-3xl cursor-pointer" @click="showShareOptions = !showShareOptions">
                            <i class="fa-solid fa-share-from-square"></i>
                        </button>
                    </div>
                    <div x-show="showShareOptions" @click.outside="showShareOptions = false" class="absolute z-20 bg-stealth-800 rounded-sm shadow-stealth-400/50 shadow-md space-y-px right-0 top-[calc(100%+20px)] py-3 after:content-[''] after:block after:absolute after:w-0 after:h-0 after:border-12 after:border-solid after:border-transparent after:border-b-stealth-800 after:border-t-0 after:-top-3 after:right-0 text-stealth-100 min-w-fit">
                        <a class="flex items-center space-x-2 p-3 text-nowrap" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" target="_blank" rel="noopener noreferrer" @click="showShareOptions = false">
                            <i class="fa-brands fa-linkedin"></i>
                            <span>Share on LinkedIn</span>
                        </a>
                        <button class="flex items-center space-x-2 p-3 cursor-pointer hover:text-primary text-nowrap" @click="navigator.clipboard.writeText('{{ request.build_absolute_uri }}').then(() => { showShareOptions = false; })">
                            <i class="fa-solid fa-link"></i>
                            <span>Copy Link</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-2 w-full">
            <img src="{% if object.hero_image %}{{ object.hero_image.url }}{% elif object.hero_image_url %}{{ object.hero_image_url }}{% endif %}" alt="{{ object.image_alt }}" class="w-full object-cover h-80 sm:h-100 lg:h-136 mx-auto" />
            {% if object.image_credit_text %}
            <a href="{{ object.image_credit_url }}" class="block text-stealth-400 text-xs text-center">{{ object.image_credit_text }}</a>
            {% endif %}
        </div>
    </div>
    <div class="blog-post">{{ object.body|markdownify }}</div>
    <div class="space-y-3" x-data="{ showError: false }">
        <div class="flex flex-wrap sm:flex-nowrap items-center justify-between text-lg md:text-xl">
            <span class="text-base md:text-lg">{{ object.created_at|date:'F j, Y' }}</span>
            <div class="relative" x-data="{ showShareOptions: false }">
                <div class="flex justify-end items-center space-x-4 md:space-x-6">
                    <div class="flex flex-nowrap items-center space-x-2">
                        <span class="bg-primary rounded-full h-7 w-7 md:h-8 md:w-8 inline-flex justify-center items-center text-base md:text-lg">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                        <span x-text="uniqueViews"></span>
                    </div>
                    <div class="flex flex-nowrap items-center space-x-2">
                        {% csrf_token %}
                        <template x-if="liked">
                            <button class="bg-primary rounded-full h-7 w-7 md:h-8 md:w-8 inline-flex justify-center items-center text-base md:text-lg cursor-pointer" @click="async () => {
                                const cookieName = 'post_{{ object.id }}_liked';
                                const cookie = `${cookieName}=; Path=/; Max-Age=0`;
                                document.cookie = cookie;
                                try {
                                    const csrfToken = getCookie('csrftoken');
                                    const config = {
                                        method: 'DELETE',
                                        headers: {
                                            'Content-Type': 'application/json',
                                            'X-CSRFToken': csrfToken,
                                        },
                                    };
                                    const response = await fetch(`{% url 'like' topic_id=post.topic.id post_id=post.id %}`, config);
                                    if (!response.ok) {
                                        throw new Error(`Response status: ${response.status}`);
                                    }
                                    const result = await response.text();
                                    likes = parseInt(result);
                                } catch (error) {
                                    showError = true;
                                }
                                liked = false;
                            }">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </button>
                        </template>
                        <template x-if="!liked">
                            <button class="bg-stealth-400 text-stealth-800 rounded-full h-7 w-7 md:h-8 md:w-8 inline-flex justify-center items-center text-base md:text-lg cursor-pointer" @click="async () => {
                                const cookieName = 'post_{{ object.id }}_liked';
                                const cookie = `${cookieName}=true; Path=/; Max-Age=31536000`;
                                document.cookie = cookie;
                                try {
                                    const csrfToken = getCookie('csrftoken');
                                    const config = {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                            'X-CSRFToken': csrfToken,
                                        },
                                    };
                                    const response = await fetch(`{% url 'like' topic_id=post.topic.id post_id=post.id %}`, config);
                                    if (!response.ok) {
                                        throw new Error(`Response status: ${response.status}`);
                                    }
                                    const result = await response.text();
                                    likes = parseInt(result);
                                } catch (error) {
                                    showError = true;
                                }
                                liked = true;
                            }">
                                <i class="fa-solid fa-thumbs-up"></i>
                            </button>
                        </template>
                        <span x-text="likes"></span>
                    </div>
                    <button class="inline-flex justify-center items-center text-2xl md:text-3xl cursor-pointer" @click="showShareOptions = !showShareOptions">
                        <i class="fa-solid fa-share-from-square"></i>
                    </button>
                </div>
                <div x-show="showShareOptions" @click.outside="showShareOptions = false" class="absolute z-20 bg-stealth-800 rounded-sm shadow-stealth-400/50 shadow-md space-y-px right-0 bottom-[calc(100%+20px)] py-3 after:content-[''] after:block after:absolute after:w-0 after:h-0 after:border-12 after:border-solid after:border-transparent after:border-t-stealth-800 after:border-b-0 after:-bottom-3 after:right-0 text-stealth-100 min-w-fit after:drop-shadow-stealth-400/50 after:drop-shadow-md">
                    <a class="flex items-center space-x-2 p-3 text-nowrap" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}" target="_blank" rel="noopener noreferrer" @click="showShareOptions = false">
                        <i class="fa-brands fa-linkedin"></i>
                        <span>Share on LinkedIn</span>
                    </a>
                    <button class="flex items-center space-x-2 p-3 cursor-pointer hover:text-primary text-nowrap" @click="navigator.clipboard.writeText('{{ request.build_absolute_uri }}').then(() => { showShareOptions = false; })">
                        <i class="fa-solid fa-link"></i>
                        <span>Copy Link</span>
                    </button>
                </div>
            </div>
        </div>
        <p class="text-lg text-accent" :class="showError ? 'opacity-100' : 'opacity-0'">Oops! Something went wrong. Please try again later.</p>
    </div>
</section>
{% endblock %}