{% extends 'blog.html' %}

{% block title %} | Blog{% endblock %}

{% block breadcrumb %}
{% include 'partials/terminal_breadcrumb.html' with text='Blog' %}
{% endblock %}

{% block page %}
<section class="space-y-6">
    <h2>Topics</h2>
    <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2 md:gap-4">
        {% for topic in topics %}
            {% include 'partials/topic_folder.html' with topic_id=topic.id topic_name=topic.name%}
        {% endfor %}
    </section>
</section>
{% endblock %}