@layer base {
    a:link {
        @apply text-stealth-100 no-underline;
    }

    a:visited {
        @apply text-accent;
    }

    a:hover {
        @apply text-primary;
    }

    a.regular {
        @apply underline;
    }
}

.active-nav-link {
    @apply bg-stealth-100/20 visited:text-stealth-100 hover:text-primary hover:underline;
}

.inactive-nav-link {
    @apply visited:text-stealth-100 hover:text-primary hover:underline;
}

.footer-link {
    @apply visited:text-violet-900 hover:text-stealth-800 space-x-2;
}

.blog-post a {
    @apply underline;
}

.blog-post a:link {
    @apply text-blue-600;
}

.blog-post a:visited {
    @apply text-violet-600;
}

.blog-post a:hover {
    @apply text-primary;
}