.blog-post ul {
  @apply list-disc ml-12;
}

.blog-post ol {
  @apply list-decimal ml-12;
}

.blog-post blockquote {
  @apply border-l-3 border-l-primary border-solid pl-2;
}

.blog-post table {
  @apply border-collapse mx-auto;
}

.blog-post td, .blog-post th {
  @apply border border-stealth-100 border-solid px-2 py-0.5;
}

.blog-post img {
  @apply max-h-113;
}