pre { line-height: 125%; }
code:not(pre code) {@apply bg-stealth-800 text-accent px-2 py-0.5 rounded-sm;}
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { padding-left: 5px; padding-right: 5px; @apply text-stealth-900 bg-stealth-100;}
span.linenos.special { @apply text-stealth-900 bg-stealth-100; padding-left: 5px; padding-right: 5px; }
.codehilite, .codehilitetable { @apply bg-stealth-800 px-8 py-4 rounded-md overflow-scroll text-orange-600; }
.codehilite .hll { @apply bg-gray-500; } /* Highlighted Line */
.codehilite .c { @apply text-stealth-400; font-style: italic } /* Comment */
.codehilite .err { @apply border border-solid border-accent } /* Error */
.codehilite .k { @apply text-primary; font-weight: bold } /* Keyword */
.codehilite .o { @apply text-stealth-100; } /* Operator */
.codehilite .ch { @apply text-gray-400; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { @apply text-stealth-400; font-style: italic } /* Comment.Multiline */
.codehilite .cp { @apply text-amber-600; } /* Comment.Preproc */
.codehilite .cpf { @apply text-teal-600; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { @apply text-stealth-400; font-style: italic } /* Comment.Single */
.codehilite .cs { @apply text-stealth-400; font-style: italic } /* Comment.Special */
.codehilite .gd { @apply text-red-400 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.codehilite .gr { @apply text-accent; } /* Generic.Error */
.codehilite .gh { @apply text-violet-500; font-weight: bold } /* Generic.Heading */
.codehilite .gi { @apply text-teal-400; } /* Generic.Inserted */
.codehilite .go { @apply text-indigo-400 } /* Generic.Output */
.codehilite .gp { @apply text-white; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { @apply text-violet-700; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { @apply text-sky-300; } /* Generic.Traceback */
.codehilite .kd { @apply text-primary; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { @apply text-primary; font-weight: bold } /* Keyword.Namespace */
.codehilite .kc { @apply text-primary; font-weight: bold } /* Keyword.Constant */
.codehilite .kp { @apply text-primary; } /* Keyword.Pseudo */
.codehilite .kr { @apply text-primary; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { @apply text-blue-600; } /* Keyword.Type */
.codehilite .m { @apply text-violet-500; } /* Literal.Number */
.codehilite .s { @apply text-cyan-500; } /* Literal.String */
.codehilite .na { @apply text-blue-400; } /* Name.Attribute */
.codehilite .nb { @apply text-amber-500; } /* Name.Builtin */
.codehilite .nc { @apply text-teal-500; font-weight: bold } /* Name.Class */
.codehilite .no { @apply text-blue-500; } /* Name.Constant */
.codehilite .nd { @apply text-fuchsia-600; } /* Name.Decorator */
.codehilite .ni { @apply text-orange-500; font-weight: bold } /* Name.Entity */
.codehilite .ne { @apply text-red-500; font-weight: bold } /* Name.Exception */
.codehilite .nf { @apply text-yellow-400; } /* Name.Function */
.codehilite .nl { @apply text-violet-400; } /* Name.Label */
.codehilite .nn { @apply text-blue-700; font-weight: bold } /* Name.Namespace */
.codehilite .nt { @apply text-lime-500; font-weight: bold } /* Name.Tag */
.codehilite .nv { @apply text-sky-600; } /* Name.Variable */
.codehilite .n { @apply text-blue-500; } /* Name */
.codehilite .ow { @apply text-violet-600; font-weight: bold } /* Operator.Word */
.codehilite .w { @apply text-stealth-100; } /* Text.Whitespace */
.codehilite .mb { @apply text-violet-500; } /* Literal.Number.Bin */
.codehilite .mf { @apply text-violet-500; } /* Literal.Number.Float */
.codehilite .mh { @apply text-violet-500; } /* Literal.Number.Hex */
.codehilite .mi { @apply text-violet-500; } /* Literal.Number.Integer */
.codehilite .mo { @apply text-violet-500; } /* Literal.Number.Oct */
.codehilite .sa { @apply text-cyan-500; } /* Literal.String.Affix */
.codehilite .sb { @apply text-cyan-500; } /* Literal.String.Backtick */
.codehilite .sc { @apply text-cyan-500; } /* Literal.String.Char */
.codehilite .dl { @apply text-cyan-500; } /* Literal.String.Delimiter */
.codehilite .sd { @apply text-cyan-600; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { @apply text-cyan-500; } /* Literal.String.Double */
.codehilite .se { @apply text-emerald-500; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { @apply text-sky-600; } /* Literal.String.Heredoc */
.codehilite .si { @apply text-cyan-700; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { @apply text-indigo-600; } /* Literal.String.Other */
.codehilite .sr { @apply text-purple-500; } /* Literal.String.Regex */
.codehilite .s1 { @apply text-sky-500; } /* Literal.String.Single */
.codehilite .ss { @apply text-blue-400; } /* Literal.String.Symbol */
.codehilite .bp { @apply text-amber-600; } /* Name.Builtin.Pseudo */
.codehilite .fm { @apply text-purple-700; } /* Name.Function.Magic */
.codehilite .vc { @apply text-teal-600; } /* Name.Variable.Class */
.codehilite .vg { @apply text-sky-600; } /* Name.Variable.Global */
.codehilite .vi { @apply text-sky-600; } /* Name.Variable.Instance */
.codehilite .vm { @apply text-purple-700; } /* Name.Variable.Magic */
.codehilite .il { @apply text-sky-600; } /* Literal.Number.Integer.Long */
