@import "tailwindcss";
@import "./anchor.css";
@import "./headings.css";
@import "./transitions.css";
@import "./forms.css";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../../**/*.{html,py,js}";

@theme {
  --color-stealth-100: #eaedf0;
  --color-stealth-400: #bcbfc2;
  --color-stealth-800: #2F333C;
  --color-stealth-900: #23282c;
  --color-primary: #2b8546;
  --color-accent: #b62029;
  --font-shinobi: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --font-accent: Arial, Helvetica, sans-serif;
  --font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page {
  padding:3% 25px 3% 25px;
}

@layer base {
  p {
    @apply text-justify py-2.5;
  }
}