.transition-natural {
    @apply ease-in-out duration-600;
    transition-property: opacity transform translate !important;
}

.transition-menu-entry {
    transition-property: opacity max-height;
    @apply ease-out duration-150;
}

.transition-menu-exit {
    transition-property: opacity max-height;
    @apply ease-in duration-150;
}

.transition-up {
    @apply opacity-0 translate-y-6;
}